<%- include("header")  -%> 
<body>

<div class="container">
    <div class="row">
<!-- Formulario para ingresar Usuarios -->

<div class="col-md-4" >
<div class="card">

    <h1>Ingreso de usuarios</h1>
    <div class="card-body">

        <form action="/app/AgregarUsuario" method="POST">
           
                <input name="Name" id="INombre" class="form-control form-control-lg" type="text" placeholder="Ingrese su Nombre" >    

      <br>
                <input id="IApellido" name="LastName" class="form-control form-control-lg" type="text" placeholder="Ingrese su Apellido" >    
        
      
        <br>
                <input id="ICedula" name="Cedula" class="form-control form-control-lg" type="number" placeholder="Ingrese su cedula" >    
        
<br>
                <button class="btn btn-success" type="submit">Agregar Usuario</button>
           

        </form>

    </div>
</div>

</div>





<!-- Tabla de usuarios -->
    <div class="col-md-6" >
        <table class="table table-hover">
           <thead>
            <tr>
            <th>ID      </th>
            <th>Nombre  </th>
            <th>Apellido</th>
            <th>Cedula  </th>
        </tr>
           </thead>
           <tbody>
            <% for(const user of Usuarios){%>
             <tr>
              <td>  <%= user._id  %>    </td>
              <td> <%= user.Name  %>    </td>  
              <td> <%= user.LastName %> </td>   
              <td> <%= user.Cedula %>   </td> 
              <td><a href="/app/EliminarUsuario/<%=user.Cedula%> " class="btn btn-danger">Eliminar</a> </td> 
              <td><a href="/app/ActualizarUser/<%=user.Cedula%> " class="btn btn-info">Actualizar</a> </td> 
             
                <% } %> 
            </tr>
           </tbody>
          </table>
        </div>
    </div>
</div>

<%- include("footer") -%> 